<ion-content class="content">
  <div class="cont-logo">
    <img class="cont-logo__logo" src="../../assets/icon/logo_login.svg" alt="logo-bhd">
  </div>

  <form class="login-form">
    <ion-item class="login-form__item">
      <ion-input class="login-form__input" type="number" placeholder="Documento de identidad">
      </ion-input>
      <ion-icon class="login-form__icon" name="person-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="login-form__item ion-margin-vertical">
      <ion-input class="login-form__input" type="password" placeholder="Contraseña">
      </ion-input>
      <ion-icon class="login-form__icon" name="key-outline" slot="start"></ion-icon>
    </ion-item>

    <div class="cont-toogle ion-margin-vertical">
      <ion-toggle class="cont-toogle__icon"></ion-toggle>
      <span class="cont-toogle__text">RECUERDA MI USUARIO</span>
    </div>
    <ion-button class="btn-iniciar ion-margin-vertical" expand="full" color="primary" type="submit">INICIAR SESIÓN</ion-button>
  </form>

  <div class="cont-help-date">
    <a class="cont-help-date__link" href="https://bhd.com.do">AYUDA PARA INICIAR SESIÓN</a>
    <span class="cont-help-date__date">Septiembre 07 - 5:00 p.m</span>
  </div>
</ion-content>
